[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ARPALData"]
	path = ARPALData
	url = https://github.com/cran/ARPALData
[submodule "SCDA"]
	path = SCDA
	url = https://github.com/cran/SCDA
